.builder-services {
	display: flex;
	flex-direction: row;
	background-color: white;
	padding: 20px;
}

.service-wrapper h3 {
	text-align: left;
	padding: 2%;
	font-family: "futuraStdHeavy";
	font-size: 1vw;
	color: #e15829;
}

.service-wrapper h2 {
	text-align: left;
	padding: 1%;
	font-family: "futuraStdHeavy";
	font-size: 1.2vw;
	color: #e15829;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid black;
	padding: 0;
	width: 90%;
}

.column-left ul li {
	font-family: "futuraStdBook";
	font-size: 1vw;
	line-height: 1.3;
	text-align: left;
	padding-bottom: 1%;
}

.column-left p {
	font-family: "futuraStdBook";
	font-size: 1vw;
	line-height: 1.3;
	width: 100%;
	text-align: justify;
	padding-bottom: 1%;
}

.column-right {
	font-family: "futuraStdBook";
	font-size: 1vw;
	line-height: 1.6;
	width: 50%;
	padding-bottom: 1%;
}
.column-right ul li {
	font-family: "futuraStdBook";
	font-size: 1vw;
	line-height: 1.6;
	text-align: left;
	padding-bottom: 2%;
}

.column-right p {
	font-family: "futuraStdBook";
	font-size: 1vw;
	line-height: 1.3;
	width: 70%;
	text-align: justify;
	padding-bottom: 1%;
}
