.service-head {
	display: flex;
}

.logoWE {
	position: relative;
	top: 10px;
	left: 10px;
	z-index: 2;
}

.commercial-background img {
	width: 10%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: white;
}

.commercial-head-text-top {
	position: absolute;
	text-align: right;
	padding-right: 50px;
	top: 95%;
	left: 50%;
	transform: translate(28%, -50%);
	font-family: futuraStdBook;
	font-size: 4vw;
}

.commercial-head-text-bottom {
	position: absolute;
	bottom: -5%;
	right: 24%;
	transform: translate(50%, 50%);
	font-family: futuraStdBook;
	font-size: 4vw;
	color: #e15829;
}

@media only screen and (max-width: 414px) {
	.logoWE {
		position: absolute;
		top: 0px;
		right: 0px;
		transform: translate(-200%, -300%);
		z-index: 2;
	}
	.commercial-head-text-top {
		top: 95%;
		left: 50%;
		transform: translate(20%, -50%);
		font-size: 4vw;
	}
}
