h1 {
	text-align: center;
	padding: 1%;
	font-family: futuraStdHeavy;
	font-size: 2vw;
}

p {
	font-family: futuraStdBook;
	font-size: 1vw;
	line-height: 1.8;
	width: 60%;
	text-align: justify;
	padding-bottom: 1%;
}
