.service-wrapper {
	margin: auto;
	padding-top: 0vw;
}

.service-wrapper h3 {
	text-align: left;
	padding: 2%;
	font-family: "futuraStdHeavy";
	font-size: 1vw;
	color: #e15829;
}

.service-wrapper h2 {
	text-align: left;
	padding: 1% 0% 0%;
	font-family: "futuraStdHeavy";
	font-size: 1.2vw;
	color: #e15829;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid black;
	padding: 0;
	width: 90%;
}

.commercial-services {
	display: flex;
	flex-direction: row;
	background-color: white;
	padding: 60px 20px 20px 20px;
	width: 100%;
}

.column-left ul li {
	font-family: "futuraStdBook";
	font-size: 1vw;
	line-height: 1;
	text-align: left;
	padding-bottom: 1%;
}

.column-left p {
	padding: 0px 100px 0px 0px;
	font-family: "futuraStdBook";
	font-size: 1vw;
	line-height: 1.3;
	width: 50%;
	text-align: justify;
	padding-bottom: 1%;
}

.column-right {
	font-family: "futuraStdBook";
	font-size: 1vw;
	width: 50%;
	padding-bottom: 0%;
}

.commercial-services .column-right ul li {
	font-family: "futuraStdBook";
	font-size: 1vw;
	width: 90%;
	text-align: justify;
	padding-bottom: 0%;
}

@media only screen and (max-width: 414px) {
	.service-wrapper h2 {
		font-size: 10px;
	}
	.column-right {
		font-size: 10px;
		width: 50%;
	}
	.column-right ul li {
		font-size: 10px;
	}
	.commercial-services .column-left ul li {
		font-size: 10px;
	}
	.commercial-services .column-left p {
		font-size: 10px;
		width: 50%;
	}
}
