.body {
	margin: auto;
}

.electric-head {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
	background-color: white;
	padding: 2%;
}

.centralImageElectric {
	position: relative;
	text-align: center;
	color: white;
	background: #404041;
}

.centralImageElectric label {
	position: absolute;
	text-align: right;
	padding-right: 50px;
	top: 50%;
	left: 50%;
	transform: translate(0%, -50%);
	font-family: futuraStdBook;
	font-size: 6vw;
	color: #e15829;
}

.whoWeAre {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-flow: row;
	padding: 100px;
}

.whoWeAre label {
	font-family: futuraStdHeavy;
	font-size: 5vw;
	color: #e15829;
}

.whoWeAre p {
	width: 50%;
	font-size: 1.125vw;
}

/* The side navigation menu */
.sidebar {
	margin-left: 10px;
	padding: 20px 0px 0px 0px;
	width: 300px;
	/* background-color: green; */
	/* position: absolute; */
	/* height: 100%; */
	/* overflow: auto; */
}

.electric-sidebar {
	padding: 20px 10px 10px 10px;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.service-content {
	display: flex;
	flex-direction: row;
	margin-left: 300px;
	padding: 0px 0px 10px 50px;
	height: 100%;
}
/* Content */
.column-left ul li {
	font-family: "futuraStdBook";
	font-size: small;
}

.column-right {
	font-family: "futuraStdBook";
	font-size: small;
}

.column-left p {
	font-family: "futuraStdBook";
	font-size: small;
	padding: 5px;
}
/* h6 {
	font-family: "helveticaNeueLTStdRoman";
	font-size: small;
} */
