.sidebar ul {
	display: block;
	text-align: left;
	background-color: white;
}

.sidebar li {
	display: inline-block;
	justify-content: space-evenly;
	flex-flow: row nowrap;
	list-style: none;
	padding: 1px;
	font-family: "futuraStdHeavy";
	font-size: 1.2vw;
	color: #e15829;
	border-bottom: 3px solid black;
	width: 100%;
}
