.centralImageElectric {
	text-align: center;
	color: white;
	background: #404041;
	padding-top: 15vh;
	position: relative;
}

.centralImageElectric label {
	position: absolute;
	text-align: right;
	padding-right: 50px;
	top: 40%;
	left: 50%;
	transform: translate(0%, -50%);
	font-family: futuraStdBook;
	font-size: 6vw;
	color: #e15829;
}

.whoWeAre {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-flow: row;
	padding: 100px;
}

.whoWeAre label {
	font-family: futuraStdHeavy;
	font-size: 5vw;
	color: #e15829;
	left: 0px;
	top: 0px;
}

.whoWeAre p {
	width: 50%;
	font-size: 1.125vw;
}

.side-services-wrapper {
	display: flex;
	position: relative;
	z-index: 2;
	width: 100%;
	margin: auto;
}

.electric-sidebar {
	padding: 20px 10px 10px 10px;
	margin-left: 10px;
	padding: 20px 0px 0px 0px;
	width: 300px;
	float: left;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.service-content {
	position: relative;
	z-index: 2;
	margin: 50px;
	padding: 20px 0px 10px 50px;
	height: 100%;
	float: left;
}

.clear {
	clear: both;
}

/* Content */
.column-left ul li {
	font-family: "futuraStdBook";
	font-size: small;
}

.column-right {
	font-family: "futuraStdBook";
	font-size: small;
}

.column-left p {
	font-family: "futuraStdBook";
	font-size: small;
	padding: 5px;
}

@media only screen and (max-width: 414px) {
	.centralImageElectric label {
		position: fixed;
		top: 20%;
		transform: translate(0%, 0%);
		z-index: -1;
	}
}
