.contactUsForm {
	display: flex;
	flex-flow: column;
	align-content: space-between;
	padding: 1% 25% 1% 25%;
	font-family: "futuraStdBook";
	font-size: 1vw;
	background: #404041;
	color: white;
	background-image: url("./img/contactus-background.jpg");
	background-size: cover;
}

.form-group {
	padding: 1%;
	display: flex;
	flex-flow: column nowrap;
	text-align: left;
}

.form-input {
	background-color: transparent;
	width: 100%;
	padding: 10px 2px 10px 2px;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	font-family: "futuraStdBook";
	font-size: 1vw;
}

.label {
	text-align: left;
	padding: 5px;
	font-family: "futuraStdBook";
	font-size: 1vw;
}

.button .btn {
	display: inline-block;
	background-color: transparent;
	color: white;
	width: 30%;
	padding: 10px 10px 10px 0px;
	border: 1px solid white;
	margin: 10px;
	border-radius: 5px;
	font-family: "futuraStdBook";
	font-size: 1vw;
	text-align: center;
}

.footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	height: 20vh;
	background-color: #999899;
	color: white;
}

.logoAddress {
	display: block;
	text-align: center;
	font-family: "futuraStd-Medium";
}

.logoAddress img {
	padding: 2%;
	width: 25%;
}
.logoAddress p {
	display: inline-block;
	font-family: "futuraStd-Medium";
	font-size: 0.8vw;
	line-height: 1.2;
	width: 50%;
	padding: 1%;
	text-align: center;
}

.newsletter {
	display: block;
	text-align: center;
	font-family: "futuraStd-Medium";
}

.form-input-nl {
	background-color: transparent;
	width: 100%;
	padding: 1%;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	font-family: "futuraStdBook";
	font-size: 1vw;
}

.btn-nl {
	display: inline-block;
	background-color: transparent;
	color: white;
	width: 50%;
	padding: 1%;
	border: 1px solid white;
	margin: 10px;
	border-radius: 5px;
	font-family: "futuraStdBook";
	font-size: 0.75vw;
	text-align: center;
}

::placeholder {
	color: lightgray;
	font-size: 0.75vw;
}

.newsletter p {
	display: inline-block;
	font-family: "futuraStd-Medium";
	font-size: 0.8vw;
	line-height: 1.2;
	width: 100%;
	padding: 1%;
	text-align: justify;
}

h2 {
	text-align: center;
	padding: 1%;
	font-family: "futuraStdHeavy";
	font-size: 1vw;
	width: 100%;
	color: white;
}

.usefulLinks {
	padding: 1%;
	font-family: "futuraStdBook";
	font-size: 0.75vw;
	text-decoration: none;
}

.usefulLinks a {
	text-decoration: none;
	margin: auto;
}
