.contactUsForm {
	display: flex;
	flex-flow: column;
	align-content: space-between;
	padding: 1% 25% 1% 25%;
	font-family: "futuraStdBook";
	font-size: 1vw;
	background: #404041;
	color: white;
	background-image: url("./img/contactus-background.jpg");
	background-size: cover;
}

.form-group {
	padding: 1%;
	display: flex;
	flex-flow: column nowrap;
	text-align: left;
}

.form-input {
	background-color: transparent;
	width: 100%;
	padding: 10px 2px 10px 2px;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	font-family: "futuraStdBook";
	font-size: 1vw;
}

.label {
	text-align: left;
	padding: 5px;
	font-family: "futuraStdBook";
	font-size: 1vw;
}

.btn {
	display: inline-block;
	background-color: transparent;
	color: white;
	width: 30%;
	padding: 10px 10px 10px 0px;
	border: 1px solid white;
	margin: 10px;
	border-radius: 5px;
	font-family: "futuraStdBook";
	font-size: 1vw;
	text-align: center;
}

.footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	height: 20vh;
	background-color: #999899;
	color: white;
}

.logoAddress {
	background-color: red;
	/* display: block; */
	align-items: center;
	font-family: "futuraStd-Medium";
}

p {
	font-family: futuraStd-Medium;
	font-size: 0.8vw;
	line-height: 1.2;
	width: 50%;
	text-align: left;
	padding: 1%;
	text-align: center;
}
img {
	/* background-color: yellow; */
	padding: 2%;
	/* display: block; */
}

.newsletter {
	background-color: red;
}

.usefulLinks {
	background-color: red;
}
