.centralBanner {
	position: relative;
	text-align: center;
	color: white;
}

.centeredTop {
	position: absolute;
	top: 35%;
	left: 45%;
	transform: translate(-50%, -50%);
	font-family: futuraStdHeavy;
	font-size: 6vw;
	text-shadow: 2px 2px black;
}

.centeredMiddle {
	position: absolute;
	top: 50%;
	left: 46%;
	transform: translate(-50%, -50%);
	font-family: futuraStdHeavyOblique;
	font-size: 6vw;
	text-shadow: 2px 2px black;
}

.centeredBottom {
	position: absolute;
	bottom: 35%;
	right: 49%;
	transform: translate(50%, 50%);
	font-family: futuraStdHeavy;
	font-size: 6vw;
	text-shadow: 2px 2px black;
}
