.centralBanner {
	position: relative;
	text-align: center;
	color: white;
	background: #404041;
	padding-top: 15vh;
}

.centeredTop {
	position: absolute;
	top: 35%;
	left: 45%;
	transform: translate(-50%, -50%);
	font-family: futuraStdHeavy;
	font-size: 6vw;
	text-shadow: 4px 4px black;
}

.centeredMiddle {
	position: absolute;
	top: 50%;
	left: 46%;
	transform: translate(-50%, -50%);
	font-family: futuraStdHeavyOblique;
	font-size: 6vw;
	text-shadow: 4px 4px black;
}

.centeredBottom {
	position: absolute;
	bottom: 35%;
	right: 49%;
	transform: translate(50%, 50%);
	font-family: futuraStdHeavy;
	font-size: 6vw;
	text-shadow: 4px 4px black;
}

.aboutUS {
	position: relative;
	display: flex;
	flex-flow: column;
	background: #404041;
	color: white;
	padding: 1%;
	align-items: center;
	text-align: center;
}
h1 {
	text-align: center;
	padding: 1%;
	font-family: futuraStdHeavy;
	font-size: 2vw;
}

p {
	font-family: futuraStdBook;
	font-size: 1vw;
	line-height: 1.8;
	width: 60%;
	text-align: justify;
	padding-bottom: 1%;
}

.whatWeDo {
	display: flex;
	justify-content: center;
	text-align: center;
	background: white;
}

.logo {
	padding: 5%;
	justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
	.whatWeDo {
		width: 100%;
	}
}

.experience {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	text-align: center;
	background: #404041;
	color: white;
	font-family: futuraStdHeavy;
	font-size: 1.5vw;
	padding: 3.5%;
}
