.centralBanner {
	position: relative;
	text-align: center;
	color: white;
	background: #404041;
	padding-top: 15vh;
	z-index: -1;
}

.centralBanner img {
	width: 100%;
	height: 100%;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

.centeredTop {
	position: fixed;
	top: 33%;
	left: 45%;
	transform: translate(-50%, -50%);
	font-family: futuraStdHeavy;
	font-size: 6vw;
	text-shadow: 4px 4px black;
	z-index: 1;
}

.centeredMiddle {
	position: fixed;
	top: 50%;
	left: 46%;
	transform: translate(-50%, -50%);
	font-family: futuraStdHeavyOblique;
	font-size: 6vw;
	text-shadow: 4px 4px black;
	z-index: 1;
}

.centeredBottom {
	position: fixed;
	bottom: 35%;
	right: 49%;
	transform: translate(50%, 50%);
	font-family: futuraStdHeavy;
	font-size: 6vw;
	text-shadow: 4px 4px black;
	z-index: 1;
}

.aboutUS {
	position: relative;
	display: flex;
	flex-flow: column;
	background: #404041;
	color: white;
	padding: 1%;
	align-items: center;
	text-align: center;
}

h1 {
	text-align: center;
	padding: 1%;
	font-family: futuraStdHeavy;
	font-size: 2vw;
}

p {
	font-family: futuraStdBook;
	font-size: 1vw;
	line-height: 1.8;
	width: 60%;
	text-align: justify;
	padding-bottom: 1%;
}

.whatWeDo {
	display: flex;
	justify-content: center;
	text-align: center;
	background: white;
}

.logo {
	padding: 5%;
	justify-content: space-evenly;
}

.experience {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	text-align: center;
	background: #404041;
	color: white;
	font-family: futuraStdHeavy;
	font-size: 1.5vw;
	padding: 3.5%;
}

@media screen and (max-width: 500px) {
	.whatWeDo {
		width: 100%;
	}
}

@media only screen and (max-width: 1024px) {
	.centeredTop {
		position: fixed;
		top: 25%;
		left: 45%;
		transform: translate(-50%, -50%);
		font-family: futuraStdHeavy;
		font-size: 6vw;
		text-shadow: 4px 4px black;
		z-index: 1;
	}

	.centeredMiddle {
		position: fixed;
		top: 30%;
		left: 46%;
		transform: translate(-50%, -50%);
		font-family: futuraStdHeavyOblique;
		font-size: 6vw;
		text-shadow: 4px 4px black;
		z-index: 1;
	}

	.centeredBottom {
		position: fixed;
		bottom: 65%;
		right: 49%;
		transform: translate(50%, 50%);
		font-family: futuraStdHeavy;
		font-size: 6vw;
		text-shadow: 4px 4px black;
		z-index: 1;
	}
}

@media only screen and (max-width: 768px) {
	.centeredTop {
		position: fixed;
		top: 25%;
		left: 45%;
		transform: translate(-50%, -50%);
		font-family: futuraStdHeavy;
		font-size: 6vw;
		text-shadow: 4px 4px black;
		z-index: 1;
	}

	.centeredMiddle {
		position: fixed;
		top: 30%;
		left: 46%;
		transform: translate(-50%, -50%);
		font-family: futuraStdHeavyOblique;
		font-size: 6vw;
		text-shadow: 4px 4px black;
		z-index: 1;
	}

	.centeredBottom {
		position: fixed;
		bottom: 65%;
		right: 49%;
		transform: translate(50%, 50%);
		font-family: futuraStdHeavy;
		font-size: 6vw;
		text-shadow: 4px 4px black;
		z-index: 1;
	}
}

@media only screen and (max-width: 1024px) {
	p {
		font-family: futuraStdBook;
		font-size: 1.5vw;
		line-height: 1.5;
		width: 90%;
		text-align: justify;
		padding-bottom: 3%;
	}
}

@media only screen and (max-width: 768px) {
	p {
		font-family: futuraStdBook;
		font-size: 1.5vw;
		line-height: 1.5;
		width: 90%;
		text-align: justify;
		padding-bottom: 3%;
	}
}

@media only screen and (max-width: 414px) {
	.centeredTop {
		position: fixed;
		top: 22%;
		left: 45%;
		transform: translate(-50%, -50%);
		font-family: futuraStdHeavy;
		font-size: 5vw;
		text-shadow: 2px 2px black;
		z-index: 1;
	}

	.centeredMiddle {
		position: fixed;
		top: 25%;
		left: 46%;
		transform: translate(-50%, -50%);
		font-family: futuraStdHeavyOblique;
		font-size: 5vw;
		text-shadow: 2px 2px black;
		z-index: 1;
	}

	.centeredBottom {
		position: fixed;
		bottom: 72%;
		right: 49%;
		transform: translate(50%, 50%);
		font-family: futuraStdHeavy;
		font-size: 5vw;
		text-shadow: 2px 2px black;
		z-index: 1;
	}

	p {
		font-family: futuraStdBook;
		font-size: 1.5vw;
		line-height: 1.5;
		width: 90%;
		text-align: justify;
		padding-bottom: 3%;
	}

	.logo {
		padding: 5%;
		justify-content: space-evenly;
		width: 90%;
	}
}
