.serviceCall {
	width: 100%;
	font-family: "futuraStdBook";
	font-size: 1vw;
	color: #e15829;
}
.serviceCall h1 {
	text-align: left;
	padding: 10%;
	font-family: "futuraStdHeavy";
	font-size: 1.6vw;
	color: #e15829;
}

h3 {
	text-align: left;
	padding: 1%;
	font-family: "futuraStdHeavy";
	font-size: 1.2vw;
	color: #e15829;
}

btn {
	display: inline-block;
	background-color: transparent;
	color: white;
	width: 30%;
	padding: 10px 10px 10px 0px;
	border: 1px solid white;
	margin: 10px;
	border-radius: 5px;
	font-family: "futuraStdBook";
	font-size: 1vw;
	text-align: center;
}
