body {
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: "futuraStdBold";
	src: local("futuraStdBold"), url(./fonts/futuraStdBold.otf) format("OpenType");
}

@font-face {
	font-family: "futuraStdHeavy";
	src: local("futuraStdHeavy"),
		url(./fonts/futuraStdHeavy.otf) format("OpenType");
}

@font-face {
	font-family: "futuraStdHeavyOblique";
	src: local("futuraStdHeavyOblique"),
		url(./fonts/futuraStdHeavyOblique.otf) format("OpenType");
}
