html {
	overflow: hidden;
	height: 100%;
}

body {
	width: 100%;
	font-family: "futuraStd-Medium", "futuraStdBold", "futuraStdBook",
		"futuraStdHeavy", "futuraStdHeavyOblique", "helveticaNeueLTStdRoman";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	transform-style: preserve-3d;
	overflow-x: hidden;
	overflow-y: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	margin: 0px;
	padding: 0px;
	max-width: 100%;
}

@font-face {
	font-family: "futuraStdBold";
	src: local("futuraStdBold"), url(./fonts/futuraStdBold.otf) format("OpenType");
}

@font-face {
	font-family: "futuraStdHeavy";
	src: local("futuraStdHeavy"),
		url(./fonts/futuraStdHeavy.otf) format("OpenType");
}

@font-face {
	font-family: "futuraStdHeavyOblique";
	src: local("futuraStdHeavyOblique"),
		url(./fonts/futuraStdHeavyOblique.otf) format("OpenType");
}
@font-face {
	font-family: "futuraStdBook";
	src: local("futuraStdBook"), url(./fonts/futuraStdBook.otf) format("OpenType");
}

@font-face {
	font-family: "futuraStd-Medium";
	src: local("futuraStd-Medium"),
		url(./fonts/futuraStd-Medium.otf) format("OpenType");
}
